/* From Uiverse.io by asgardOP */ 
.button-instagram {
    background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
  }
  
  .button-linkedin {
    background: rgb(10, 102, 194);
  }
  
  .button-youtube {
    background: rgb(255, 33, 33);
  }
  
  .button-github {
    background: black;
  }

.button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
    position: relative;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.1s;
  }
  .button svg {
    color: white;
    width: 50px;
    height: 50px;
    z-index: 9;
  }
  
  .button:active {
    transform: scale(0.85);
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #212121;
    border-radius: 50px;
    z-index: 0;
    border: 0px solid rgba(255, 255, 255, 0.411);
    transition: 0.4s;
  }
  
  .button:hover::before {
    width: 0px;
    height: 0px;
  }

  .wrapper {
  height: 400px;
  width: 480px;
  position: relative;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  cursor: default;
  animation: animate 1.5s linear infinite;
}
.wrapper .display,
.wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .display {
  z-index: 999;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
  display: flex; /* Flexbox for centering */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Horizontal centering */
  justify-content: center; /* Vertical centering */
}
.display #time {
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;

}
@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}
.wrapper span {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}
.wrapper span:first-child {
  filter: blur(7px);
}
.wrapper span:last-child {
  filter: blur(20px);
}

  