@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes slide-reverse {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

.tape-container {
    overflow: hidden;
    width: 750px;
    position: relative;
    padding: 20px 0;
    mask-image: linear-gradient(to right, transparent, black 40%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 40%, black 80%, transparent);
}

h3 {
    margin-top: 10px; 
    margin-bottom: 20px; 
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.tape {
    display: flex; 
    white-space: nowrap;
    animation: 15s slide linear infinite;
    width: max-content; 
}

.tape.reverse {
    animation: 20s slide-reverse linear infinite; 
}

.tape-item {
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 10px; 
    padding: 15px 30px; 
    margin: 10px 20px; 
    background-color: rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s ease; 
}

.tape-item img {
    height: 50px; 
    margin-right: 15px; 
}

.tape-item p {
    font-size: 16px; 
    color: #fff;
    margin: 0;
    white-space: nowrap;
}